.container {
    height: 550px;
    margin: 0 auto;
    text-align: center;
    width: 700px;
}

body {
    background-color: aqua;
}

.header {
    height: 50px;
    padding-top: 10px;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 20px;
    margin-right: 10px ;
  }

.input-field {
    padding: 30px 0;
    width: 400px;
}

.form-field {
    margin-top: 35px;
}

.header-title {
    margin: 10px;
}

.selector-field {
    background-color: white;
    padding: 30px 0;
    width: 400px;
}

.submit-field {
    padding: 25px 0;
    width: 400px;
}

.all-elements-in-form{
    margin-top: 30px;
}
