@font-face{
  font-family: "google sans" ;
  src: url(./fonts/google-sans-cufonfonts-webfont/ProductSans-Light.woff);
}


@font-face{
  font-family: "products san" ;
  src: url(./fonts/FontsFree-Net-ProductSans-Regular.ttf);
}


.wrapper{
  margin: 0 auto;
  max-width: 1470px;
}

.header{
  height: 80px;
  width: 100%;
}


.Navbar{
  align-items: center;
  display: flex;
  justify-content: space-between;

}

.Nav-items{
  display: flex;
  margin: auto;
  
}

.main{
  display: flex;
  padding-bottom: 32px;
  
}

.hero-image{
  min-width: 320px;
}

.img-profile{
  height: 60px;
  width: 200px;
}

.same-size{
  height: 50px;
  width: 50px;
}

.hero-text{
  text-align: center;
}

.Gs{
  font-family: 'google sans';
  text-align: center  ;
 
}

.text-w{
  width: 390px;
}

.Ps{
  font-family: "products san";
  text-align: center;
}

.hero-banner{
  flex: 1;
}

.text-banner{
  padding: 10px 30px;
}

.coffee-list{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.coffee-item{
  background-color: white;
  height: 450px;
  margin: 50px;
  width: 217px;

}

.grid-items{
  background: linear-gradient(180deg, rgba(228, 239, 233, 0) 0%, #ECF8F1 6.25%);
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding-top: 3rem;
}


.viewmore{
  height: 10px;
  margin: auto;
  width: 90px;
}
  

.text-banner-color{
 color: red;
 font-size: ;
}

.fs{
  text-align: start;
  font-size: 35px;
  margin-top: 20px;
}
