@font-face{
  font-family: "google sans" ;
  src: url(./fonts/google-sans-cufonfonts-webfont/ProductSans-Light.woff);
}
@font-face{
  font-family: "products san" ;
  src: url(./fonts/FontsFree-Net-ProductSans-Regular.ttf);
}
body{
  background: #E5E5E5;
}
.wrapper{
  margin: 0 auto;
  max-width: 1470px;
}
.header{
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}
.left-header-img{
  display: flex;
}
.menue-item:hover{
  background-color: red;
}
.active{
  background-color: yellow;
}
.Nav-items{
  margin: 15px;
  text-decoration: none;
}
.main{
  display: flex;
  margin-top: 60px;
  padding-bottom: 32px;
}
.hero-image{
  background-color: white;
  min-width: 320px;
  margin-left: 10px;
}
.img-profile{
  height: 55px;
  min-width: 120px;
}
.shopping-cart-size{
  width: 25px;
}
.coffeebens-size{
  width: 40px;
}
.hero-text{
  text-align: center;
}
.Google-sans-font{
  font-family: 'google sans';
  text-align: center  ;
}
.text-w{
  width: 390px;
}
.Product-sans-font{
  font-family: "products san";
  text-align: center;
}
.hero-banner{
  flex: 1;
}
.text-banner{
  padding: 10px 30px;
}
.coffee-list{
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.coffee-item{
  background-color: white;
  height: 450px;
  margin: 50px;
  width: 217px;
}
.grid-items{
  background: linear-gradient(180deg, rgba(228, 239, 233, 0) 0%, #ECF8F1 6.25%);
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding-top: 3rem;
}
.viewmore-img{
  height: 10px;
  width: 90px;
}
.text-banner-color{
 color: red;
 font-family: "products san";
}
.title-Barsley-coffee{
  font-size: 40px;
  margin-top: 20px;
  text-align: start;
}
.coffeebens{
  margin-left: 45px;
}
