@font-face{
  font-family: "google sans" ;
  src: url(./fonts/google-sans-cufonfonts-webfont/ProductSans-Light.woff);
}

@font-face{
  font-family: "products san" ;
  src:
   url(./fonts/FontsFree-Net-ProductSans-Regular.ttf);
}
body{
  background: #E5E5E5;
}

.wrapper{
  margin: 0 auto ; 
  max-width: 1470px;
}

.header{
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}

.leftHeaderImg{
  display: flex;
}

.menueItem:hover{
  background-color: red;
}

.active{
  background-color: yellow;
}

.navItems{
  margin: 15px;
  text-decoration: none;
}

.main{
  display: flex;
  margin: 60px 0 0 0 0;
  padding: 0 0 32px 0;
}

.allLinksNavBar{
  display: flex;
}

.heroImage{
  background-color: white;
  margin: 75px 0 0 0;
  min-width: 150px;
}

.imgProfile{
  height: 55px;
  min-width: 150px;
}

.shoppingCartSize{
  width: 25px;
}

.coffeebensSize{
  width: 40px;
}

.heroText{
  text-align: center;
}

.googleSansFont{
  font-family: 'google sans';
  text-align: center  ;
}

.textBelowBarnsleyCoffee{
  width: 390px;
}

.productSansFont{
  font-family: "products san";
  text-align: center;
}

.heroBanner{
  flex: 1;
}

.textBanner{
  margin: 35px 0 0 20px;
  padding: 10px 30px;
}

.coffeeList{
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.coffeeItem{
  background-color: white;
  height: 450px;
  margin: 50px;
  width: 217px;
}

.gridItems{
  background: linear-gradient(180deg, rgba(228, 239, 233, 0) 0%, #ECF8F1 6.25%);
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding: 3rem 0 0 0;
}

.viewmoreImg{
  height: 10px;
  width: 90px;
}

.textBannerColor{
 color: red;
 font-family: "products san";
}

.titleBarsleyCoffee{
  font-size: 40px;
  margin: 20px 0 0 0;
  text-align: start;
}

.coffeebens{
  margin: 0 0 0 45px;
}

